{% load custom_tags %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'quote/js/jquery.highlight.js' %}"></script>
    <script src="{% static 'quote/js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'quote/css/quotes.css' %}">
    <title>Cytatownik</title>
</head>
<body>
    <h1>📚 Cytatownik</h1>

    {% if request.user.is_authenticated %}
    <p>👋 Witaj, {{ request.user.username }} | <a href="{% url 'logout' %}">Wyloguj się</a></p>
    {% else %}
    <p><a href="{% url 'login' %}">Zaloguj się</a> | <a href="{% url 'register' %}">Zarejestruj się</a></p>
    {% endif %}

    {% if request.user.is_authenticated %}
        <p><a href="{% url 'add_quote' %}">➕ Dodaj cytat</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Zaloguj się, aby dodać cytat</a></p>
    {% endif %}
    <form method="GET">
        {{ search_form.as_p }}
        <button type="submit">Szukaj</button>
    </form>
    <div id="quotes">
        {% for quote in quotes %}
            <div>
                <blockquote class="quote-text">“{{ quote.text }}”</blockquote>
                <p>— <strong>{{ quote.author }}</strong> ({{ quote.category }})</p>

                {% if request.user == quote.user %}
                    <p>
                        <a href="{% url 'edit_quote' quote.id %}">Edytuj</a> |
                        <a href="{% url 'delete_quote' quote.id %}">Usuń</a>
                    </p>
                {% endif %}
                <hr>
            </div>
        {% empty %}
            <p>Brak cytatów do wyświetlenia.</p>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if quotes.has_previous %}
                <a href="?{% url_replace page=1 %}">&laquo; Pierwsza strona</a><br>
                <a href="?{% url_replace page=quotes.previous_page_number %}">&lt;&lt;</a>
            {% endif %}
    
            <span class="current">
                Strona {{ quotes.number }} / {{ quotes.paginator.num_pages }}
            </span>
    
            {% if quotes.has_next %}
                <a href="?{% url_replace page=quotes.next_page_number %}">&gt;&gt;</a>
            {% endif %}
        </span>
    </div>

</body>
</html>
